/* Menü-Item-Stil */
.menu-item {
    border-bottom: 1px solid #ddd; /* Linie unter jedem Menüpunkt */
    margin-bottom: 15px; /* Abstand zwischen den Menüpunkten */
    padding-bottom: 10px; /* Platz oberhalb der Linie */
}

/* Letztes Menüelement ohne Linie */
.menu-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

/* Menü-Link-Stil */
.menu-link {
    text-align: center;
    font-size: 16px; /* Text etwas größer */
    color: #002884; /* Dunkleres Blau für Text */
    text-decoration: none;
    font-weight: 600; /* Fettgedruckter Text */
}

.menu-link:hover {
    color: #0056b3; /* Leuchtendes Blau bei Hover */
    text-decoration: underline; /* Unterstreichung bei Hover */
}

/* Icon-Stil */
.menu-item vaadin-icon {
    margin-bottom: 5px; /* Abstand zwischen Icon und Text */
    color: #002884; /* Gleiche Farbe wie Text */
}
.logout-button {
    font-size: 14px;
    color: #002884; /* Dunkles Blau */
}

.logout-button:hover {
    color: #0056b3; /* Helleres Blau bei Hover */
}

.logout-button span {
    font-weight: 600; /* Fettgedruckter Text */
}